.grid__container {
  width: 300px;
  height: 300px;
}

.grid__game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  border: 1px solid #222;
}

.grid__square {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #222;
}

.grid__square:hover {
  opacity: 0.2 !important;
  cursor: pointer;
}
